body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #a8caa5;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.piano-container {
    padding: 20px;
    background-color: #f0f8ff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    margin-top: 20px;
    padding: 0;
    color: #333;
}

.piano-keys {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.white-key {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60px;
    height: 200px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.black-key {
    background-color: #333;
    color: #fff;
    position: relative;
    z-index: 1;
    margin-top: -80px;
    width: 40px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 200px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.black-key:hover {
    background-color: #ddd;
    transform: translateY(-5px);
}
.white-key:hover {
    background-color: #ddd;
    transform: translateY(-5px);
}

.custom-btn {
    text-decoration: none;
    line-height: 1;
    border-radius: 1.5rem;
    overflow: hidden;
    position: fixed;
    bottom: 150px;
    left: 20%;
    transform: translateX(-50%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
    background-color: #fff;
    color: #121212;
    border: none;
    cursor: pointer;
  }

.custom-btn-decor {
    position: absolute;
    inset: 0;
    background-color: var(--btn-color);
    transform: translateX(-100%);
    transition: transform .3s;
    z-index: 0;
  }

.custom-btn-content {
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    overflow: hidden;
  }

.custom-btn__icon {
    width: 48px;
    height: 40px;
    background-color: var(--btn-color);
    display: grid;
    place-items: center;
  }

.custom-btn__text {
    display: inline-block;
    transition: color .2s;
    padding: 2px 1.5rem 2px;
    padding-left: .75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
  }

.custom-btn:hover .custom-btn__text {
    color: #fff;
  }

.custom-btn:hover .custom-btn-decor {
    transform: translate(0);
  } 

.custom-button {
    text-decoration: none;
    line-height: 1;
    border-radius: 1.5rem;
    overflow: hidden;
    position: fixed;
    bottom: 90px;
    left: 20%;
    transform: translateX(-50%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
    background-color: #fff;
    color: #121212;
    border: none;
    cursor: pointer;
}

.custom-button-decor {
    position: absolute;
    inset: 0;
    background-color: var(--btn-color);
    transform: translateX(-100%);
    transition: transform .3s;
    z-index: 0;
}

.custom-button-content {
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

.custom-button__icon {
    width: 48px;
    height: 40px;
    background-color: var(--btn-color);
    display: grid;
    place-items: center;
}

.custom-button__text {
    display: inline-block;
    transition: color .2s;
    padding: 2px 1.5rem 2px;
    padding-left: .75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

.custom-button:hover .custom-button__text {
    color: #fff;
}

.custom-button:hover .custom-button-decor {
    transform: translate(0);
}

.styled-btn {
border: none;
width: 140px;
height: 50px;
color: #fff;
z-index: 1;
display: flex;
background: #000;
position: fixed;
bottom: 100px; 
left: 50%;
transform: translateX(-50%);
}

.styled-btn p {
margin: 0 auto;
align-self: center;
font-size: 17px;
font-weight: bold;
text-align: center;
}

.styled-btn::after,
.styled-btn::before {
position: absolute;
content: "";
width: 100%;
height: 10%;
transition: 0.2s ease;
background: #8792eb;
}

.styled-btn::after {
z-index: -1;
bottom: 0;
clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
}

.styled-btn::before {
transform: rotate(180deg);
z-index: -1;
clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
}

.styled-btn:hover::after {
clip-path: polygon(0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
height: 80%;
}

.styled-btn:hover::before {
clip-path: polygon(0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
height: 80%;
}

.loading-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #a8caa5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-wrap: wrap;
}

.eye {
    width: 20px;
    height: 8px;
    background-color: rgba(240,220,220,1);
    border-radius: 0px 0px 20px 20px;
    position: relative;
    left: 10px;
    top: 40px;
    box-shadow: 40px 0px 0px 0px rgba(240,220,220,1);
  }
  
  .head {
    backface-visibility: hidden;
    position: relative;
    margin: -250px auto;
    width: 80px;
    height: 80px;
    background-color: #111;
    border-radius: 50px;
    box-shadow: inset -4px 2px 0px 0px rgba(240,220,220,1);
    animation: headAnim 1.5s infinite alternate;
    animation-timing-function: ease-out;
  }
  
  .body {
    position: relative;
    margin: 90px auto;
    width: 140px;
    height: 120px;
    background-color: #111;
    border-radius: 50px/25px;
    box-shadow: inset -5px 2px 0px 0px rgba(240,220,220,1);
    animation: bodyAnim 1.5s infinite alternate;
    animation-timing-function: ease-out;
  }
  
  @keyframes headAnim {
    0% {
      top: 0px;
    }
  
    50% {
      top: 10px;
    }
  
    100% {
      top: 0px;
    }
  }
  
  @keyframes bodyAnim {
    0% {
      top: -5px;
    }
  
    50% {
      top: 10px;
    }
  
    100% {
      top: -5px;
    }
  }
  
  .circ {
    backface-visibility: hidden;
    margin: 60px auto;
    width: 180px;
    height: 180px;
    border-radius: 0px 0px 50px 50px;
    position: relative;
    z-index: -1;
    left: 0%;
    top: 20%;
    overflow: hidden;
  }
  
  .hands {
    margin-top: 140px;
    width: 120px;
    height: 120px;
    position: absolute;
    background-color: #111;
    border-radius: 20px;
    box-shadow: -1px -4px 0px 0px rgba(240,220,220,1);
    transform: rotate(45deg);
    top: 75%;
    left: 16%;
    z-index: 1;
    animation: bodyAnim 1.5s infinite alternate;
    animation-timing-function: ease-out;
  }
  
  .load {
    position: absolute;
    width: 7ch;
    height: 32px;
    text-align: left;
    line-height: 32px;
    margin: -10px auto;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: rgb(155, 152, 152);
    left: 2%;
    top: 5%;
    animation: fontAnim 3.75s infinite;
    animation-timing-function: ease-out;
    word-wrap: break-word;
    display: block;
    overflow: hidden;
  }
  
  @keyframes fontAnim {
    0% {
      width: 7ch;
    }
  
    16% {
      width: 8ch;
    }
  
    32% {
      width: 9ch;
    }
  
    48% {
      width: 10ch;
    }
  
    64% {
      width: 11ch;
    }
  
    80% {
      width: 12ch;
    }
  
    100% {
      width: 13ch;
    }
  }
